.footer-container{
    background-color: #609452;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.footer-container figure{
    height: auto; 
    max-width: 30%;
    text-align:center;
    padding: 0.5rem;
}

.footer-container .logo-img{
    max-width: 5rem;
    height: auto;
    border-radius: 50%;
    cursor:pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.footer-container .contact-container{
    font-size: 0.8rem;
    color: white;
    line-height: 1.3rem;
}

.footer-container .follow-tag{
    text-decoration:none;
    color: rgb(255, 255, 255);
    transition: ease 0.3s color;
}

.footer-container .follow-tag:hover{
    color: rgb(200, 200, 200);
}

.footer-map{
    padding:1rem;
}

.footer-map iframe{
    width: 100%;
    height: 200px;
    max-width: 15rem;
    max-height: 12rem;
}

footer #created{
    background-color: #609452;
    color: white;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
}

@media (max-width: 600px) {

    .footer-container{
        padding-top:2rem;
        padding-bottom:2rem;
        flex-direction:column;
        height: 28rem;
    }
}