.footer-container{
    background-color: #609452;
    width: 100%;
    height: 12rem;
    display:flex;
    flex-direction:row;
    
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container figure{
    height: auto; 
    width: 30%;
    text-align:center;
}

.footer-container #logo-img{
    max-width: 5rem;
    height: auto;
    border-radius: 50%;
    cursor:pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.footer-container .contact-container{
    font-size: 0.8rem;
    color: white;
    line-height: 1.3rem;
}

.footer-container .follow-tag{
    text-decoration:none;
    color: rgb(255, 255, 255);
    transition: ease 0.3s color;
}

.footer-container .follow-tag:hover{
    color: rgb(200, 200, 200);
}

footer #created{
    background-color: #609452;
    color: white;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
}