header{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    height: 9rem;
    width: 100%;
    background-color:#9EE08C;
    font-family: Roboto,  Arial, Helvetica, sans-serif;
}

header figure{
    height: auto; 
    width: 30%;
    text-align:center;
}

header .logo-img{
    max-width: 5rem;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

header nav{
    display:flex;
    justify-content: center; 
    width: 30%;
}

header .nav-ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
} 

header .nav-ul .nav-li{
    text-decoration:none;
    color: #3B3B3B;

}

@media (max-width: 600px) {
    header{
        font-size: 0.7rem;
    }
}