*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Roboto, Arial, Helvetica, sans-serif;
}

/* Jag lade till en bakgrundsbild i styling för att enklare lägga en text framför bilden. */
main .welcome-banner{
    background-image: url('/assets/welcome-banner.jpg');
    background-size: cover;
    background-position: center;
    position:relative;
    max-width: 90%;
    height: 12rem;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    /* Om bilden inte visas så finns en bakgrundsfärg som default.. */
    background-color:#9EE08C;
}

.text-btn-container{
    display:flex;
    justify-content:flex-end;
    flex-direction: column;
    max-width: 13rem;
    padding-left: 4rem; 
}

main .welcome-banner #welcome-text{
    color:#3B3B3B;
}

main .welcome-banner #recipe-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 2.2rem;
    background-color:#7B9F6C;
    border-radius: 2px;
    text-decoration:none;
    color: white;
    margin-top: 1rem;
    font-size: 0.9rem;
    transition: ease 0.3s;
}

main .welcome-banner #recipe-btn:hover{
    background-color: #67855b;
}

main #latest-recipe-header{
    text-align:center;
    margin-bottom:1rem;
}

main .recipe-example-container{
    position:relative;
    margin:auto;
    margin-bottom: 4rem;
    max-width: 70%;
    background-color:#ECFEE8;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,5,0.1);
    padding:1rem;
}

main .recipe-example-container .img-div{
    display:flex;
    flex-direction:center;
    align-items:center;
    text-align:center;
    margin:auto;

}

main .recipe-example-container #hamburger-img{
    align-items:center;
    text-align:center;
    max-width: 85%;
    height: 85%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,5,0.1);
}

main .recipe-example-container .heart-container{
    display:flex;
    justify-content: space-around;
    position:absolute;
    top:18px;
    right:15px;
    width: 2.2rem;
    height:1.9rem;
    align-items:center;
    text-align:center;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,5,0.1);
    background-color:white;
    padding:0.2rem;
}

main .recipe-example-container .recipe-text-container{
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    max-width: 40%;
    height: auto;
    color: #3B3B3B;
    padding:0.5rem;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,5,0.1);
}

main .recipe-example-container .recipe-text-header{
    font-size: 0.7rem;
}

main .recipe-example-container #recipe-text{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

main .recipe-example-container #go-to-recipe{
    text-decoration:none;
    color: #3B3B3B;
    position: relative;
    text-align:end;
    align-items: end;
}

#go-to-recipe::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    height: 0.5px; 
    width: 0; 
    background-color: #3B3B3B;
    transition: width 0.3s ease;  
}

#go-to-recipe:hover::after {
    width: 100%;  
}

.info-about-website{
    text-align:center;
    margin:auto;
    padding: 2rem;
    max-width: 40%;
    font-size:0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.2rem;
    box-shadow: 0 2px 5px rgba(0,0,5,0.1);
    border-radius: 10px;
    background-color:#fafff8;
}

#infoText2{
    padding-top: 1rem;
}

main .new-book{
    background-image: url('assets/new-book-img.jpg');
    background-size: cover;
    background-position: center;
    position:relative;
    max-width: 90%;
    height: 12rem;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: white;
}

main .overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .new-book .h3-text-new-book{
    padding-bottom: 1rem;
}

main .new-book .p-text-new-book{
    max-width: 18rem;
}

/* För att snygga till vissa delar på hemsidan för en mindre vy så snyggar jag till bledd, höjd och textstorlek. */
@media (max-width: 600px) {

main .recipe-example-container{
    max-width: 90%;
    height: 18rem;
}

main .recipe-example-container .recipe-text-container{
    padding: 1rem;
}

main .recipe-example-container .recipe-text-header{
    font-size: 0.6rem;
}

.info-about-website{
    max-width: 70%;
}
}