*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Roboto, Arial, Helvetica, sans-serif;
}

main .going-back-section{
    margin:2rem;  
}

main .back-link{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration:none;
    color:  #3B3B3B;
}

main #arrow-left{
    width: 1.3rem;
    height: auto;
}

main #back-text {
    font-size: 0.9rem;
}

main .img-ingredients-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    max-width: 90%;
    background-color: rgb(247, 247, 247);
}

main .hamburger-img{
    width: 100%;
    height: auto;
}

main .ingredients-container{
    padding: 0.8rem;
    line-height: 1.8rem;
}

main .ingredients-container h3{
    margin-bottom: 0.5rem;
}

main .ingredients-container ul {
     list-style-image: url('assets/green-tree.svg'); 
     padding-left: 1.2rem;
}

main .ingredients-container li{
    padding-bottom: 0.3rem;
    color:  #3B3B3B;
}

main .time-container{
    display:flex;
    justify-content: center;
    max-width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin:auto;
    margin-top:1rem;
    margin-bottom: 1rem;
    background-color:#ECFEE8;
}

main .time-container ul {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

main .time-container li {
    display: inline-flex;
    align-items:center;
    gap:0.2rem;
    color: #3B3B3B;
    list-style-type: none;
}

main .time-container li .plate{
    width: 1.2rem;
    height: auto;
}

main .to-do-container{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding: 1rem;
    max-width: 90%;
    background-color: rgb(247, 247, 247);
}

main .to-do-container p{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main .to-do-container p span{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(35, 116, 35);
}

main .tips-container{
    display:flex;
    justify-content: center;
    max-width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin:auto;
    margin-top:1rem;
    margin-bottom: 1rem;
    background-color:#ECFEE8;
    padding: 2rem;
    line-height: 1.5rem;
}

main .tips-container .bulb{
    width: 8rem;
    height: auto;
}
main .tips-container .tips-text{
    padding: 2rem;
    line-height: 1.5rem;
}